

<div class="contenido">
<div class="logo">
<img src="assets/Imagenes/doctor.png" alt="Medico">
</div>

<div class="formulario">
<form>
    <img src="assets/Imagenes/person.png" alt="Medico">
    <h1 class="texto">Inicio de Sesion</h1>
    <div class="input-icono">
    <input id="icon" class="input" type="text" placeholder="Usuario" name="usuario" id="usuario">
</div>
    <input class="input" type="password" placeholder="Contraseña" name="contrasena" id="contrasena">
    <input class="button" type="submit" value="Iniciar Sesion">
    <h4 class="texto"><a href="aquivaalgo">¿Olvido Usuario / Contraseña?</a></h4>

    <input id="icon" style="text-indent:17px;" type="text" placeholder="Username" />

    
</form>
</div>
</div>