<div class="row header">
    <div class="col-md-12">
        Usuarios
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="contenedor-agregar" (click)="nuevoUsuario()">
                <i class="fas fa-plus-circle"></i><span>Agregar</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Tipo de empleado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of usuarios">
                        <td>{{u.nombre}}</td>
                        <td>{{u.usuario}}</td>
                        <td>{{u.tipo_empleado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>